<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update a user</title>
    <link rel="stylesheet" href="/css/update.css">
</head>

<body>

    <div class="topnav">
        <a href="/home">Home</a>
        <a href="/create">Create user</a>
    </div>
    <div class="form-add-new">
        <form action="/update-user" method="POST">
            <fieldset>
                <legend>Update a user</legend>
                <div class="input-group d-none">
                    <label for="">Id: </label>
                    <input type="text" name="userId" value="<%= userEdit.id %>">
                </div>

                <div class="input-group">
                    <label for="">Email</label>
                    <input type="text" name="email" value="<%= userEdit.email %>">
                </div>
                <div class="input-group">
                    <label for="">Name</label>
                    <input type="text" name="Myname" value="<%= userEdit.name %>">
                </div>
                <div class="input-group">
                    <label for="">City</label>
                    <input type="text" name="Mycity" value="<%= userEdit.city %>">
                </div>
                <div>
                    <button>Save</button>
                </div>
            </fieldset>
        </form>

    </div>
</body>

</html>